html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body .background {
    background: radial-gradient(transparent 50%, black), url('../img/dj1.jpg') no-repeat top center fixed;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: inset 0 0 500px black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

@supports (-webkit-touch-callout: none) {
    body .background {
        background: url('../img/dj1.jpg') center top no-repeat scroll;
        background-size: auto 100vh;
    }
}

@media (max-width: 600px) {
    body .background {
        background-attachment: scroll;
    }
}

.bg-light {
    background-color: #fff!important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.navbar-brand img {
    max-width: 165px;
}

.sr-only {
    display: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}

#about {
    background-color: #fff;
    color: black;
    padding: 2.5em 0.5em
}

.h1, h1 {
	font-size: calc(2.375rem + 1.5vw);
	font-weight: 700;
}

.h2, h2 {
	font-size: calc(1.325rem + .9vw);
	font-weight: 700;
}

#socials {
    background: radial-gradient(transparent 50%, black), url('../img/bg.jpg') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: inset 0 0 500px black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 600px) {
    #socials {
        background-attachment: scroll;
    }
}

#socials h5 {
    font-family: 'Kaushan Script', cursive;
}

p {
    font-size: 1.5rem;
}


.storm-watch-icon {
    width: 43px;
}

@media (min-width:768px) {
    .storm-watch-icon {
        width: 80px;
    }
}

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:active,
.navbar-light .navbar-toggler-icon:focus,
.navbar-light .navbar-toggler.collapsed {
    border-color: transparent;
}
